[ req ]
default_md = sha256
prompt = no
req_extensions = req_ext
distinguished_name = req_distinguished_name
[ req_distinguished_name ]
commonName = client.domain.test
countryName = US
stateOrProvinceName = state
localityName = town
organizationName = comany
organizationalUnitName = section
[ req_ext ]
keyUsage=critical,digitalSignature,keyEncipherment
extendedKeyUsage=critical,serverAuth,clientAuth
basicConstraints=critical,CA:false
crlDistributionPoints=URI:http://crl.domain.test/crl.pem
subjectAltName = @alt_names
[ alt_names ]
DNS.0 = client.domain.test