[ req ]
default_md = sha256
prompt = no
req_extensions = req_ext
distinguished_name = req_distinguished_name
[ req_distinguished_name ]
commonName = *.c46.avilab.top
countryName = FR
stateOrProvinceName = IDF
localityName = Paris
organizationName = VMW
organizationalUnitName = AVI
[ req_ext ]
keyUsage=critical,digitalSignature,keyEncipherment
extendedKeyUsage=critical,serverAuth,clientAuth
basicConstraints=critical,CA:false
subjectKeyIdentifier = hash
crlDistributionPoints=URI:http://crl.avilab.top/crl.pem
subjectAltName = @alt_names
[ alt_names ]
DNS.0 = app1.c46.avilab.top
DNS.2 = app2.c46.avilab.top
DNS.3 = app3.c46.avilab.top
DNS.4 = app4.c46.avilab.top
DNS.5 = app5.c46.avilab.top
DNS.6 = app6.c46.avilab.top
DNS.7 = app7.c46.avilab.top
DNS.8 = app8.c46.avilab.top
DNS.9 = app1.c47.avilab.top
DNS.10 = app2.c47.avilab.top
DNS.11 = app3.c47.avilab.top
DNS.12 = app4.c47.avilab.top
DNS.13 = app5.c47.avilab.top
DNS.14 = app6.c47.avilab.top
DNS.15 = app7.c47.avilab.top
DNS.16 = app8.c47.avilab.top
DNS.17 = app1.santagslb.avilab.top
DNS.18 = app2.santagslb.avilab.top
DNS.19 = app3.santagslb.avilab.top
DNS.20 = app4.santagslb.avilab.top
DNS.21 = app5.santagslb.avilab.top
DNS.22 = app6.santagslb.avilab.top
DNS.23 = app7.santagslb.avilab.top
DNS.24 = app8.santagslb.avilab.top