[ req ]
default_md = sha256
prompt = no
req_extensions = req_ext
distinguished_name = req_distinguished_name
[ req_distinguished_name ]
commonName = *.domain.test
countryName = US
stateOrProvinceName = state
localityName = town
organizationName = company
organizationalUnitName = section
[ req_ext ]
keyUsage=critical,digitalSignature,keyEncipherment
extendedKeyUsage=critical,serverAuth,clientAuth
basicConstraints=critical,CA:false
subjectKeyIdentifier = hash
crlDistributionPoints=URI:http://crl.domain.test/crl.pem
subjectAltName = @alt_names
[ alt_names ]
DNS.0 = app1.domain.test
DNS.2 = *.subdomain.domain.test
IP.1 = 1.2.3.4
IP.2 = 1.2.3.5